/* CSS for the Leaderboard page*/

#container {
    display: flex;
    flex-direction: column;
    background-color: blue;
}

#board-title {
    display: flex;
    justify-content: left;
    padding-left: 100;
}

#table {

}

#header-row {

}

.data-row {
    
}

.user-name {

}

.ranking {

}

.score {

}