.keep_img{
    height: 300px;
    width: 150px;
}

.classify {
    margin: 6% 1%;
}

.mountainImg{
    height: 300px;
    width: 150px;
}

.startBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateX(-20px);
}

.clockStuff {
    margin: 10px;
    align-items: center;
    transform: translateX(95px);
}

.instructionClock{
    font-size: 1.1rem;
    margin: 5px;
    color: #724cf9;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    align-items: center;
    transform: translateX(110px);
}

span.clockEncouragement{
    font-size: 1.1rem;
    color: #724cf9;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    position: relative;
    right: 50px;
}

@media (max-width: 768px){
    .keep_img{
        height: 300px;
        width: 150px;
    }
}

.pose {
    transform: translateX(85px);
}